<blockquote>
  <p>Woyager is a decentralized ecosystem; wisely designed for travelers to search and buy flight tickets, bus tickets, hotel booking, car renting and insurence without any extra fees.</p>
  <footer><a https://woyagertoken.com/" target="_blank">https://woyagertoken.com/</a></footer>
</blockquote>
